@var selectOptions;
<div class="layer">
  <div class="profile-user-info profile-user-info-striped wordbreak" >
    <div class="profile-info-row">
      <div class="profile-info-name">报告名称：</div>
      <div class="profile-info-value" id="name">
        <span class="editable editable-click">
			${entry.name!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">分类：</div>
      <div class="profile-info-value" id="subclass">
        <span class="editable editable-click">
			${entry.subclass!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">报告日期：</div>
      <div class="profile-info-value" id="bgdate">
        <span class="editable editable-click">
			${entry.bgdate!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">报告类型：</div>
      <div class="profile-info-value" id="bgtype">
	   <span class="editable editable-click">${entry.bgtypeText!}</span>
      </div>
		</div>
    <div class="profile-info-row">
      <div class="profile-info-name">模板：</div>
      <div class="profile-info-value" id="bttemp">
        <span class="editable editable-click">
			${entry.bttemp!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">报告描述：</div>
      <div class="profile-info-value" id="btdes">
        <span class="editable editable-click">
			${entry.btdes!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">报告人：</div>
      <div class="profile-info-value" id="btcerter">
        <span class="editable editable-click">
			${entry.btcerter!}
        </span>
      </div>
    </div>
	</div>
</div>
<script>
	$(function(){
	})
</script>