<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krm.web.monitor.mapper.DemoMonitorWorkflowMapper">

	<!-- 表字段 -->
	<sql id="demoMonitorWorkflowColumns">
		 WF_CODE, WF_NAME, CREATE_DATE, CREATE_BY
	</sql>

	<!-- 表字段（带别名） -->
	<sql id="demoMonitorWorkflowAliasColumns">
		 t.WF_CODE, t.WF_NAME, t.CREATE_DATE, t.CREATE_BY
	</sql>


	<!-- 列表查询,返回的是通用实体，不受实体属性限制，相当于map-->
	<select id="queryPageInfo" resultType="com.krm.common.base.CommonEntity">
		select <include refid="demoMonitorWorkflowAliasColumns" />, u.name u_name 
		from demo_monitor_workflow  t
		left join sys_user u on t.CREATE_BY = u.id
		left join sys_organ o on u.organ_id = o.code
		<where>
			1=1
			<if test="@Ognl@isNotBlank(wfCode)">and t.WF_CODE = #{wfCode} </if>
			<if test="@Ognl@isNotBlank(wfName)">and t.WF_NAME = #{wfName} </if>
			<if test="@Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
		<if test="@Ognl@isNotBlank(sortC) and @Ognl@isNotBlank(order)"> 
			ORDER BY t.${sortC} ${order}
		</if>
	</select>
	
	
	<!-- 列表查询,返回的是实体-->
	<select id="entityList" resultType="com.krm.web.monitor.model.DemoMonitorWorkflow">
        select  <include refid="demoMonitorWorkflowAliasColumns" />
		from demo_monitor_workflow  t
		left join sys_user u on t.CREATE_BY = u.id
		left join sys_organ o on u.organ_id = o.code
		<where>
			1=1
			<if test="@Ognl@isNotBlank(wfCode)">and t.WF_CODE = #{wfCode} </if>
			<if test="@Ognl@isNotBlank(wfName)">and t.WF_NAME = #{wfName} </if>
			<if test="@Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
		<if test="@Ognl@isNotBlank(sortC) and @Ognl@isNotBlank(order)"> 
			ORDER BY t.${sortC} ${order}
		</if>
	</select>

	<!-- 查询单条数据,返回的是实体 -->
	<select id="queryOne" resultType="com.krm.web.monitor.model.DemoMonitorWorkflow">
		select  <include refid="demoMonitorWorkflowAliasColumns" />
		from demo_monitor_workflow  t 
		<where>
			1=1
			<if test="@Ognl@isNotBlank(wfCode)"> and t.WF_CODE = #{wfCode} </if>
			<if test="@Ognl@isNotBlank(wfName)"> and t.WF_NAME = #{wfName} </if>
			<if test="@Ognl@isNotBlank(createDate)"> and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(createBy)"> and t.CREATE_BY = #{createBy} </if>
		</where>
	</select>
	
	<!-- 查询单条数据,返回的是通用实体，不受实体属性限制，相当于map -->
	<select id="queryOneCommon" resultType="com.krm.common.base.CommonEntity">
		select  <include refid="demoMonitorWorkflowAliasColumns" />, u.name u_name 
		from demo_monitor_workflow  t
		left join sys_user u on t.CREATE_BY = u.id
		left join sys_organ o on u.organ_id = o.code
		<where>
			1=1
			<if test="@Ognl@isNotBlank(wfCode)">and t.WF_CODE = #{wfCode} </if>
			<if test="@Ognl@isNotBlank(wfName)">and t.WF_NAME = #{wfName} </if>
			<if test="@Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
	</select>
	
	<!-- 批量插入数据 -->
	<insert id="insertBatch">
		insert into demo_monitor_workflow(<include refid="demoMonitorWorkflowColumns" />)
		<foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
		    select
		    	#{item.wfCode, jdbcType = VARCHAR},
		    	#{item.wfName, jdbcType = VARCHAR},
		    	#{item.createDate, jdbcType = DATE},
				#{item.createBy, jdbcType = DATE}
		    from dual
		</foreach>
	</insert>
	
	<!-- 根据不同条件删除数据，条件可组合 -->
	<delete id="deleteByParams" parameterType="java.util.Map">
		delete from demo_monitor_workflow
		<where>
			1=1
			<if test="@Ognl@isNotBlank(wfCode)"> and WF_CODE = #{wfCode} </if>
			<if test="@Ognl@isNotBlank(wfName)"> and WF_NAME = #{wfName} </if>
			<if test="@Ognl@isNotBlank(createDate)"> and CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(createBy)"> and CREATE_BY = #{createBy} </if>
		</where>
	</delete>
</mapper>