<div class="layer">
  <div class="profile-user-info profile-user-info-striped wordbreak" >
    <div class="profile-info-row">
      <div class="profile-info-name">﻿所属项目：</div>
      <div class="profile-info-value" id="proId">
	   <span class="editable editable-click">${entry.proIdText!}</span>
      </div>
		</div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿模板名称：</div>
      <div class="profile-info-value" id="templateName">
        <span class="editable editable-click">
			${entry.templateName!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿描述：</div>
      <div class="profile-info-value" id="remarks">
        <span class="editable editable-click">
			${entry.remarks!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿文件名：</div>
      <div class="profile-info-value" id="fileName">
        <span class="editable editable-click">
			${entry.fileName!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿路径：</div>
      <div class="profile-info-value" id="path">
        <span class="editable editable-click">
			${entry.path!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿生成类型：</div>
      <div class="profile-info-value" id="genType">
        <span class="editable editable-click">
			${entry.genType!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿语言：</div>
      <div class="profile-info-value" id="tempLanguage">
	   <span class="editable editable-click">${entry.tempLanguageText!}</span>
      </div>
		</div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿排序：</div>
      <div class="profile-info-value" id="sorts">
        <span class="editable editable-click">
			${entry.sorts!}
        </span>
      </div>
    </div>
	</div>
</div>
<script>
	$(function(){
	})
</script>