<div class="layer">
  <div class="profile-user-info profile-user-info-striped wordbreak" >
    <div class="profile-info-row">
      <div class="profile-info-name">﻿所属项目：</div>
      <div class="profile-info-value" id="proId">
	   <span class="editable editable-click">${entry.proIdText!}</span>
      </div>
		</div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿别名：</div>
      <div class="profile-info-value" id="alias">
        <span class="editable editable-click">
			${entry.alias!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿作者：</div>
      <div class="profile-info-value" id="author">
        <span class="editable editable-click">
			${entry.author!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿项目根路径：</div>
      <div class="profile-info-value" id="proPath">
        <span class="editable editable-click">
			${entry.proPath!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿源码路径：</div>
      <div class="profile-info-value" id="sourceFolder">
        <span class="editable editable-click">
			${entry.sourceFolder!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿CODE父路径：</div>
      <div class="profile-info-value" id="codePath">
        <span class="editable editable-click">
			${entry.codePath!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿HTML路径：</div>
      <div class="profile-info-value" id="htmlPath">
        <span class="editable editable-click">
			${entry.htmlPath!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿XML路径：</div>
      <div class="profile-info-value" id="xmlPath">
        <span class="editable editable-click">
			${entry.xmlPath!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿JS路径：</div>
      <div class="profile-info-value" id="jsPath">
        <span class="editable editable-click">
			${entry.jsPath!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿编码：</div>
      <div class="profile-info-value" id="coding">
	   <span class="editable editable-click">${entry.codingText!}</span>
      </div>
		</div>
	</div>
</div>
<script>
	$(function(){
	})
</script>