<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krm.web.testcdu.mapper.Testdev01Mapper">

	<!-- 表字段 -->
	<sql id="testdev01Columns">
		 ID, NAME, BGDATE, SUBCLASS, BGTYPE, BTTEMP, BTDES, BTCERTER, CREATE_BY, CREATE_DATE,
		 UPDATE_BY, UPDATE_DATE, DEL_FLAG
	</sql>

	<!-- 表字段（带别名） -->
	<sql id="testdev01AliasColumns">
         t.ID, t.NAME, t.BGDATE, t.SUBCLASS, t.BGTYPE, t.BTTEMP, t.BTDES, t.BTCERTER, t.CREATE_BY, t.CREATE_DATE,
		 t.UPDATE_BY, t.UPDATE_DATE, t.DEL_FLAG
	</sql>


	<!-- 列表查询,返回的是通用实体，不受实体属性限制，相当于map-->
	<select id="queryPageInfo" resultType="com.krm.common.base.CommonEntity">
		select  <include refid="testdev01AliasColumns" />, u.name user_name 
			, F_CHANGE_TO_DICT('CUSTOMERPPTYPE', t.SUBCLASS) SUBCLASS_TEXT
		from testdev_01  t
		left join sys_user u on t.BTCERTER = u.id
		left join sys_organ o on u.organ_id = o.code
		<where>
			1=1
			<if test="@Ognl@isNotBlank(id)">and t.ID = #{id} </if>
			<if test="@Ognl@isNotBlank(name)">and t.NAME = #{name} </if>
			<if test="@Ognl@isNotBlank(bgdate)">and t.BGDATE = #{bgdate} </if>
			<if test="@Ognl@isNotBlank(subclass)">and t.SUBCLASS = #{subclass} </if>
			<if test="@Ognl@isNotBlank(bgtype)">and t.BGTYPE = #{bgtype} </if>
			<if test="@Ognl@isNotBlank(bttemp)">and t.BTTEMP = #{bttemp} </if>
			<if test="@Ognl@isNotBlank(btdes)">and t.BTDES = #{btdes} </if>
			<if test="@Ognl@isNotBlank(btcerter)">and t.BTCERTER = #{btcerter} </if>
			<if test="@Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(updateBy)">and t.UPDATE_BY = #{updateBy} </if>
			<if test="@Ognl@isNotBlank(updateDate)">and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@Ognl@isNotBlank(delFlag)">and t.DEL_FLAG = #{delFlag} </if>
			<if test="@Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
		<if test="@Ognl@isNotBlank(sortC) and @Ognl@isNotBlank(order)"> 
			ORDER BY t.${sortC} ${order}
		</if>
	</select>
	
	
	<!-- 列表查询,返回的是实体-->
	<select id="entityList" resultType="com.krm.web.testcdu.model.Testdev01">
        select  <include refid="testdev01AliasColumns" />
		from testdev_01  t
		left join sys_user u on t.BTCERTER = u.id
		left join sys_organ o on u.organ_id = o.code
		<where>
			1=1
			<if test="@Ognl@isNotBlank(id)">and t.ID = #{id} </if>
			<if test="@Ognl@isNotBlank(name)">and t.NAME = #{name} </if>
			<if test="@Ognl@isNotBlank(bgdate)">and t.BGDATE = #{bgdate} </if>
			<if test="@Ognl@isNotBlank(subclass)">and t.SUBCLASS = #{subclass} </if>
			<if test="@Ognl@isNotBlank(bgtype)">and t.BGTYPE = #{bgtype} </if>
			<if test="@Ognl@isNotBlank(bttemp)">and t.BTTEMP = #{bttemp} </if>
			<if test="@Ognl@isNotBlank(btdes)">and t.BTDES = #{btdes} </if>
			<if test="@Ognl@isNotBlank(btcerter)">and t.BTCERTER = #{btcerter} </if>
			<if test="@Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(updateBy)">and t.UPDATE_BY = #{updateBy} </if>
			<if test="@Ognl@isNotBlank(updateDate)">and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@Ognl@isNotBlank(delFlag)">and t.DEL_FLAG = #{delFlag} </if>
			<if test="@Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
		<if test="@Ognl@isNotBlank(sortC) and @Ognl@isNotBlank(order)"> 
			ORDER BY t.${sortC} ${order}
		</if>
	</select>

	<!-- 查询单条数据,返回的是实体 -->
	<select id="queryOne" resultType="com.krm.web.testcdu.model.Testdev01">
		select  <include refid="testdev01AliasColumns" />
		from testdev_01  t 
		<where>
			1=1
			<if test="@Ognl@isNotBlank(id)"> and t.ID = #{id} </if>
			<if test="@Ognl@isNotBlank(name)"> and t.NAME = #{name} </if>
			<if test="@Ognl@isNotBlank(bgdate)"> and t.BGDATE = #{bgdate} </if>
			<if test="@Ognl@isNotBlank(subclass)"> and t.SUBCLASS = #{subclass} </if>
			<if test="@Ognl@isNotBlank(bgtype)"> and t.BGTYPE = #{bgtype} </if>
			<if test="@Ognl@isNotBlank(bttemp)"> and t.BTTEMP = #{bttemp} </if>
			<if test="@Ognl@isNotBlank(btdes)"> and t.BTDES = #{btdes} </if>
			<if test="@Ognl@isNotBlank(btcerter)"> and t.BTCERTER = #{btcerter} </if>
			<if test="@Ognl@isNotBlank(createBy)"> and t.CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(createDate)"> and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(updateBy)"> and t.UPDATE_BY = #{updateBy} </if>
			<if test="@Ognl@isNotBlank(updateDate)"> and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@Ognl@isNotBlank(delFlag)"> and t.DEL_FLAG = #{delFlag} </if>
		</where>
	</select>
	
	<!-- 查询单条数据,返回的是通用实体，不受实体属性限制，相当于map -->
	<select id="queryOneCommon" resultType="com.krm.common.base.CommonEntity">
		select  <include refid="testdev01AliasColumns" />, u.name user_name 
			, F_CHANGE_TO_DICT('CUSTOMERPPTYPE', t.SUBCLASS) SUBCLASS_TEXT
		from testdev_01  t
		left join sys_user u on t.BTCERTER = u.id
		left join sys_organ o on u.organ_id = o.code
		<where>
			1=1
			<if test="@Ognl@isNotBlank(id)">and t.ID = #{id} </if>
			<if test="@Ognl@isNotBlank(name)">and t.NAME = #{name} </if>
			<if test="@Ognl@isNotBlank(bgdate)">and t.BGDATE = #{bgdate} </if>
			<if test="@Ognl@isNotBlank(subclass)">and t.SUBCLASS = #{subclass} </if>
			<if test="@Ognl@isNotBlank(bgtype)">and t.BGTYPE = #{bgtype} </if>
			<if test="@Ognl@isNotBlank(bttemp)">and t.BTTEMP = #{bttemp} </if>
			<if test="@Ognl@isNotBlank(btdes)">and t.BTDES = #{btdes} </if>
			<if test="@Ognl@isNotBlank(btcerter)">and t.BTCERTER = #{btcerter} </if>
			<if test="@Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(updateBy)">and t.UPDATE_BY = #{updateBy} </if>
			<if test="@Ognl@isNotBlank(updateDate)">and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@Ognl@isNotBlank(delFlag)">and t.DEL_FLAG = #{delFlag} </if>
			<if test="@Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
	</select>
	
	<!-- 批量插入数据 -->
	<insert id="insertBatch">
		insert into testdev_01(<include refid="testdev01Columns" />) values 
		<foreach collection="list" item="item" separator="," >
		(
	    	#{item.id},
	    	#{item.name},
	    	#{item.bgdate},
	    	#{item.subclass},
	    	#{item.bgtype},
	    	#{item.bttemp},
	    	#{item.btdes},
	    	#{item.btcerter},
	    	#{item.createBy},
	    	#{item.createDate},
	    	#{item.updateBy},
	    	#{item.updateDate},
			#{item.delFlag}
		)
		</foreach>
	</insert>
	
	<!-- 根据不同条件删除数据，条件可组合 -->
	<delete id="deleteByParams" parameterType="java.util.Map">
		delete from testdev_01
		<where>
			1=1
			<if test="@Ognl@isNotBlank(id)"> and ID = #{id} </if>
			<if test="@Ognl@isNotBlank(name)"> and NAME = #{name} </if>
			<if test="@Ognl@isNotBlank(bgdate)"> and BGDATE = #{bgdate} </if>
			<if test="@Ognl@isNotBlank(subclass)"> and SUBCLASS = #{subclass} </if>
			<if test="@Ognl@isNotBlank(bgtype)"> and BGTYPE = #{bgtype} </if>
			<if test="@Ognl@isNotBlank(bttemp)"> and BTTEMP = #{bttemp} </if>
			<if test="@Ognl@isNotBlank(btdes)"> and BTDES = #{btdes} </if>
			<if test="@Ognl@isNotBlank(btcerter)"> and BTCERTER = #{btcerter} </if>
			<if test="@Ognl@isNotBlank(createBy)"> and CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(createDate)"> and CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(updateBy)"> and UPDATE_BY = #{updateBy} </if>
			<if test="@Ognl@isNotBlank(updateDate)"> and UPDATE_DATE = #{updateDate} </if>
			<if test="@Ognl@isNotBlank(delFlag)"> and DEL_FLAG = #{delFlag} </if>
		</where>
	</delete>
</mapper>