<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krm.web.sys.mapper.SysUpdateLogMapper">

	<!-- 表字段 -->
	<sql id="SysUpdateLogColumns">
		ID,YEAR,DAY,CONTENT,MORE_INFO,CREATE_BY,CREATE_DATE,UPDATE_BY,UPDATE_DATE,DEL_FLAG
		
	</sql>

	<!-- 表字段（带别名） -->
	<sql id="SysUpdateLogAliasColumns">
		t.ID,t.YEAR,t.DAY,t.CONTENT,t.MORE_INFO,t.CREATE_BY,t.CREATE_DATE,t.UPDATE_BY,t.UPDATE_DATE,t.DEL_FLAG
		
	</sql>


	<!-- 列表查询,返回的是通用实体，不受实体属性限制，相当于map-->
	<select id="queryPageInfo" resultType="com.krm.common.base.CommonEntity">
		select  <include refid="SysUpdateLogAliasColumns" />
		from SYS_UPDATE_LOG  t
		left join sys_user u on t.CREATE_BY = u.id
			left join sys_organ o on u.organ_id = o.code
		<where>
			1=1
			<if test="@Ognl@isNotBlank(id)">and t.ID = #{id} </if>
			<if test="@Ognl@isNotBlank(year)">and t.YEAR = #{year} </if>
			<if test="@Ognl@isNotBlank(day)">and t.DAY = #{day} </if>
			<if test="@Ognl@isNotBlank(content)">and t.CONTENT = #{content} </if>
			<if test="@Ognl@isNotBlank(moreInfo)">and t.MORE_INFO = #{moreInfo} </if>
			<if test="@Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(updateBy)">and t.UPDATE_BY = #{updateBy} </if>
			<if test="@Ognl@isNotBlank(updateDate)">and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@Ognl@isNotBlank(delFlag)">and t.DEL_FLAG = #{delFlag} </if>
			<if test="@Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
		<if test="@Ognl@isNotBlank(sortC) and @Ognl@isNotBlank(order)"> 
			ORDER BY t.${sortC}   ${order}
		</if>
		<if test="@Ognl@isBlank(sortC)"> 
			 ORDER BY YEAR DESC, DAY DESC 
		</if>
	</select>
	
	
	<!-- 列表查询,返回的是实体-->
	<select id="entityList" resultType="com.krm.web.sys.model.SysUpdateLog">
		select  <include refid="SysUpdateLogAliasColumns" />  
		from SYS_UPDATE_LOG  t 
			left join sys_user u on t.CREATE_BY = u.id
			left join sys_organ o on u.organ_id = o.code
		<where>
			1=1
			<if test="@Ognl@isNotBlank(id)"> and t.ID = #{id}</if>
			<if test="@Ognl@isNotBlank(year)"> and t.YEAR = #{year}</if>
			<if test="@Ognl@isNotBlank(day)"> and t.DAY = #{day}</if>
			<if test="@Ognl@isNotBlank(content)"> and t.CONTENT = #{content}</if>
			<if test="@Ognl@isNotBlank(moreInfo)"> and t.MORE_INFO = #{moreInfo}</if>
			<if test="@Ognl@isNotBlank(createBy)"> and t.CREATE_BY = #{createBy}</if>
			<if test="@Ognl@isNotBlank(createDate)"> and t.CREATE_DATE = #{createDate}</if>
			<if test="@Ognl@isNotBlank(updateBy)"> and t.UPDATE_BY = #{updateBy}</if>
			<if test="@Ognl@isNotBlank(updateDate)"> and t.UPDATE_DATE = #{updateDate}</if>
			<if test="@Ognl@isNotBlank(delFlag)"> and t.DEL_FLAG = #{delFlag}</if>
			<if test="@Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
	</select>

	<!-- 查询单条数据 -->
	<select id="queryOne" resultType="com.krm.web.sys.model.SysUpdateLog">
		select  <include refid="SysUpdateLogAliasColumns" />
		from SYS_UPDATE_LOG  t 
		<where>
			1=1
			<if test="@Ognl@isNotBlank(id)"> and t.ID = #{id} </if>
			<if test="@Ognl@isNotBlank(year)"> and t.YEAR = #{year} </if>
			<if test="@Ognl@isNotBlank(day)"> and t.DAY = #{day} </if>
			<if test="@Ognl@isNotBlank(content)"> and t.CONTENT = #{content} </if>
			<if test="@Ognl@isNotBlank(moreInfo)"> and t.MORE_INFO = #{moreInfo} </if>
			<if test="@Ognl@isNotBlank(createBy)"> and t.CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(createDate)"> and t.CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(updateBy)"> and t.UPDATE_BY = #{updateBy} </if>
			<if test="@Ognl@isNotBlank(updateDate)"> and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@Ognl@isNotBlank(delFlag)"> and t.DEL_FLAG = #{delFlag} </if>
		</where>
	</select>
	
	<!-- 根据不同条件删除数据，条件可组合 -->
	<delete id="deleteByParams"  parameterType="java.util.Map">
		delete from SYS_UPDATE_LOG
		<where>
			1=1
			<if test="@Ognl@isNotBlank(id)"> and ID = #{id} </if>
			<if test="@Ognl@isNotBlank(year)"> and YEAR = #{year} </if>
			<if test="@Ognl@isNotBlank(day)"> and DAY = #{day} </if>
			<if test="@Ognl@isNotBlank(content)"> and CONTENT = #{content} </if>
			<if test="@Ognl@isNotBlank(moreInfo)"> and MORE_INFO = #{moreInfo} </if>
			<if test="@Ognl@isNotBlank(createBy)"> and CREATE_BY = #{createBy} </if>
			<if test="@Ognl@isNotBlank(createDate)"> and CREATE_DATE = #{createDate} </if>
			<if test="@Ognl@isNotBlank(updateBy)"> and UPDATE_BY = #{updateBy} </if>
			<if test="@Ognl@isNotBlank(updateDate)"> and UPDATE_DATE = #{updateDate} </if>
			<if test="@Ognl@isNotBlank(delFlag)"> and DEL_FLAG = #{delFlag} </if>
		</where>
	</delete>
</mapper>