@var selectOptions;
<div class="layer">
  <div class="profile-user-info profile-user-info-striped wordbreak" style="padding:10px" >
    <div class="profile-info-row">
      <div class="profile-info-name">数据名称：</div>
      <div class="profile-info-value" id="sname">
        <span class="editable editable-click">
			${entry.sname!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">类型：</div>
      <div class="profile-info-value" id="stype">
	   <span class="editable editable-click">${entry.stypeText!}</span>
      </div>
		</div>
    <div class="profile-info-row">
      <div class="profile-info-name">风险模型：</div>
      <div class="profile-info-value" id="smodel">
        <span class="editable editable-click">
			${entry.smodel!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">数据日期：</div>
      <div class="profile-info-value" id="sdate">
        <span class="editable editable-click">
			${entry.sdate!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">数据描述：</div>
      <div class="profile-info-value" id="sdes">
        <span class="editable editable-click">
			${entry.sdes!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">数据来源：</div>
      <div class="profile-info-value" id="scome">
        <span class="editable editable-click">
			${entry.scome!}
        </span>
      </div>
    </div>
	</div>

	<div class="panel" style="padding:10px"> <a class="btn btn-sucess btn-sm"
		href="javascript:void(0);" title="详细"><i
			class="ace-icon fa fa-pencil bigger-130"></i>&nbsp;详细</a>&nbsp;<a
		class=" btn btn-sucess btn-sm" href="javascript:void(0);"
		title="明细数据&quot;"><i class="ace-icon fa fa-pencil bigger-130"></i>&nbsp;明细</a>&nbsp;<a
		class="btn btn-sucess btn-sm " href="javascript:void(0);"
		title="提交核查&quot;"><i class="ace-icon fa fa-pencil bigger-130"></i>&nbsp;核查</a></div>
</div>
<script>
	$(function(){
	})
</script>