@var selectOptions;
<div class="layer">
  <div class="profile-user-info profile-user-info-striped wordbreak" >
    <div class="profile-info-row">
      <div class="profile-info-name">核查数据：</div>
      <div class="profile-info-value" id="sname">
        <span class="editable editable-click">
			${entry.sname!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">核查日期：</div>
      <div class="profile-info-value" id="sdate">
        <span class="editable editable-click">
			${entry.sdate!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">核查意见：</div>
      <div class="profile-info-value" id="sdsc">
        <span class="editable editable-click">
			${entry.sdsc!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">核查人：</div>
      <div class="profile-info-value" id="suser">
        <span class="editable editable-click">
			${entry.suser!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">结果：</div>
      <div class="profile-info-value" id="snext">
	   <span class="editable editable-click">${entry.snextText!}</span>
      </div>
		</div>
    <div class="profile-info-row">
      <div class="profile-info-name">结果描述：</div>
      <div class="profile-info-value" id="sdscc">
        <span class="editable editable-click">
			${entry.sdscc!}
        </span>
      </div>
    </div>
	</div>
	<table id="demo-dt-addrow" class="table table-striped table-bordered dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="demo-dt-addrow_info" style="width: 100%;">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="demo-dt-addrow"
					rowspan="1" colspan="1" aria-sort="ascending"
					aria-label="Name: activate to sort column descending"
					style="width: 257px;">编号</th>
				<th class="sorting" tabindex="0" aria-controls="demo-dt-addrow"
					rowspan="1" colspan="1"
					aria-label="Position: activate to sort column ascending"
					style="width: 412px;">标题</th>
				<th class="min-tablet sorting" tabindex="0"
					aria-controls="demo-dt-addrow" rowspan="1" colspan="1"
					aria-label="Office: activate to sort column ascending"
					style="width: 190px;">字段1</th>
				<th class="min-tablet sorting" tabindex="0"
					aria-controls="demo-dt-addrow" rowspan="1" colspan="1"
					aria-label="Extn.: activate to sort column ascending"
					style="width: 137px;">字段3</th>
				<th class="min-desktop sorting" tabindex="0"
					aria-controls="demo-dt-addrow" rowspan="1" colspan="1"
					aria-label="Start date: activate to sort column ascending"
					style="width: 219px;">字段4</th>
				<th class="min-desktop sorting" tabindex="0"
					aria-controls="demo-dt-addrow" rowspan="1" colspan="1"
					aria-label="Salary: activate to sort column ascending"
					style="width: 153px;">字段5</th>
			</tr>
		</thead>
		<tbody>
								
								<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">数据编号</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
										<td>数据项</td>
									</tr>
									
							</tbody>
							</table>
							<div style="padding:10px">
							<button class="btn btn-info btn-sm">核查处理</button>
							&nbsp;
							<button class="btn btn-info btn-sm">明细查询</button>
							</div>
</div>
<script>
	$(function(){
	})
</script>