<div class="layer">
  <div class="profile-user-info profile-user-info-striped wordbreak" >
    <div class="profile-info-row">
      <div class="profile-info-name">﻿所属项目：</div>
      <div class="profile-info-value" id="proId">
	   <span class="editable editable-click">${entry.proIdText!}</span>
      </div>
		</div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿文本显示字段：</div>
      <div class="profile-info-value" id="keyName">
        <span class="editable editable-click">
			${entry.keyName!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿入库字段：</div>
      <div class="profile-info-value" id="valueName">
        <span class="editable editable-click">
			${entry.valueName!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿SQL内容：</div>
      <div class="profile-info-value" id="sqlContent">
        <span class="editable editable-click">
			${entry.sqlContent!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿类型：</div>
      <div class="profile-info-value" id="type">
        <span class="editable editable-click">
			${entry.type!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿说明：</div>
      <div class="profile-info-value" id="remarks">
        <span class="editable editable-click">
			${entry.remarks!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿数据范围：</div>
      <div class="profile-info-value" id="dataScope">
        <span class="editable editable-click">
			${entry.dataScope!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿关联表：</div>
      <div class="profile-info-value" id="tableName">
        <span class="editable editable-click">
			${entry.tableName!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿模式：</div>
      <div class="profile-info-value" id="sqlMode">
        <span class="editable editable-click">
			${entry.sqlMode!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿用户字段绑定：</div>
      <div class="profile-info-value" id="userIdFieldBind">
        <span class="editable editable-click">
			${entry.userIdFieldBind!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿机构号字段绑定：</div>
      <div class="profile-info-value" id="organCodeFieldBind">
        <span class="editable editable-click">
			${entry.organCodeFieldBind!}
        </span>
      </div>
    </div>
	</div>
</div>
<script>
	$(function(){
	})
</script>