<link rel="stylesheet" href="${ctxPath!}/static/validate/css/passwordStrength.css" />
<script type="text/javascript" src="${ctxPath!}/static/validate/passwordStrength-min.js"></script>
<div class="layer">
	<div class="alert-success"><font style="color:red">提示信息：红色星号为必填选项</font></div>
	<form name="FormPost" id="userform" class="FormGrid"  method="post" 
	    action="${ctxPath!}/userCenter/updatePwd">
		<table class="EditTable" width="100%">
			<tbody>
				<tr></tr>
				<tr class="FormData">
					<td class="CaptionTD">姓名:</td>
					<td class="DataTD width-100"><input type="text" value="${user.username!}" disabled></td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">请输入旧密码:</td>
					<td class="DataTD width-150"><input type="password" datatype="*" ajaxurl="${ctxPath!}/userCenter/valiPwd" nullmsg="请输入旧密码！"></td>
					<td><font color="red" size="+1">*</font></td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">请输入新密码:</td>
					<td class="DataTD width-150"><input type="password" name="password" plugin="passwordStrength" datatype="*"  nullmsg="请输入新密码！" ajaxurl="${ctxPath!}/userCenter/valiNewPwd" errormsg="密码至少8个字符,最多32个字符！"></td>
					<td><font color="red" size="+1">*</font></td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD"></td>
					<td class="DataTD width-150"><div class="passwordStrength">密码强度： <span>弱</span><span>中</span><span class="last">强</span>&nbsp;</div>
						<span style="color:red">
							<span id="n1"><i class="fa  fa-exclamation-circle"></i> 由8到32位字符组成<br></span>
						</span>
						<span style="color:green">
							<span id="y1" style="display: none;"><i class="fa  fa-check-circle"></i> 由8到32位字符组成<br></span>
						</span>
						<span style="color:red">
							<span id="n2"><i class="fa  fa-exclamation-circle"></i> 至少由字母、数字和特殊字符其中两种进行组合<br></span>
						</span>
						<span style="color:green">
							<span id="y2" style="display: none;"><i class="fa  fa-check-circle"></i> 至少由字母、数字和特殊字符其中两种进行组合<br></span>
						</span>
						<span style="color:red">
							<span id="n3"><i class="fa  fa-exclamation-circle"></i> 不包含特殊字符：!\@#$%^&*-_</span>
						</span>
						<span style="color:green">
							<span id="y3" style="display: none;"><i class="fa  fa-check-circle"></i> 包含特殊字符：!\@#$%^&*-_</span>
						</span>
						<span style="color:red">
							<span id="n4" style="display: none;"><i class="fa  fa-exclamation-circle"></i> 含有非法字符！</span>
						</span>
					</td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">确认密码:</td>
					<td class="DataTD width-150"><input type="password" name="passwordConfirm" datatype="*8-32" recheck="password" nullmsg="请确认密码！" errormsg="您两次输入的账号密码不一致！" value=""></td>
					<td><font color="red" size="+1">*</font></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<script type="text/javascript">
$(function(){
	$("#userform").Validform({
		usePlugin:{
			passwordstrength:{
				minLen:8,
				maxLen:32
			}
		},
		ajaxPost : true,
		beforeSubmit:function(curform){
			var loadi = layer.load(5,2);
			$("#userform").data('loadi',loadi);
		},
		tiptype : function(msg, o, cssctl) {
			if (!o.obj.is("form")) {
				if (o.type != 2) {
					tip.errorTip(msg,o.obj);
				}else{
					layer.closeAll('tips'); 
				}
			}
		},
		tipSweep : false,
		callback:function(data){
			layer.close($("#userform").data('loadi'));
			if(data.code == 1) {
				successMsg('修改密码成功，正在跳转到登录页面......', function() {
					layer.closeAll('page');
					location.href = "${ctxPath!}/logout";
				});
			}else{
				failMsg('修改失败，请检查输入的信息是否正确！');
			}
		}
	});

	$("#model-save-cancel").click(function(){
		layer.closeAll();
		return false;
	});
});
</script>