@charset "utf-8";

html, body {
	height: 100%;
}

body {
	min-height: 440px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.8) url(../images/bluesky3b.jpg) left top
		no-repeat;
	background-size: cover;
	perspective: 800px;
}

#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.85);
	overflow: hidden;
	/* background-image: url(../../images/admin/login_cover2.jpg);background-position: center center; background-size: cover;background-repeat: no-repeat;*/
}

.coverBg {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

#canvas .coverBg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

#login {
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
	transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
	-webkit-transition-property: -webkit-transform, opacity, box-shadow, top,
		left, margin-top;
	transition-property: transform, opacity, box-shadow, top, left,
		margin-top;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	font-size: 14px;
	background: rgba(255, 255, 255, 0.9);
	z-index: 10;
	position: absolute;
	width: 340px;
	height: 360px;
	left: 50%;
	top: 45%;
	margin: -210px 0 0 -180px;
	border-radius: 8px;
	box-shadow: 0 -5px 30px #66AFE2;
}

#login h1 {
	text-align: center;
	padding: 15px 0 10px;
	color: #4E9DD8;
	font-weight: bold;
	
	margin: 0;
}

#login h1 strong {
	font-size: 25px;
}

#login h1 em {
	display: block;
	font-size: 16px;
	margin-top: 8px;
}

#login .info {
	margin: 0 30px;
	height: 40px;
	border-radius: 5px;
	line-height: 40px;
	background: #ffffff;
	padding-left: 40px;
	position: relative;
	margin-top: 15px;
}

#login .info label {
	position: absolute;
	width: 40px;
	line-height: 40px;
	height: 40px;
	left: 0;
	top: 0;
	text-align: center;
	color: #65B1E2;
	font-size: 15px;
}

#login .info input {
	width: 94%;
	padding: 8px 2%;
	height: 24px;
	line-height: 24px;
	margin: 0;
	border: 0;
	background: #cccccc;
	color: #000000;
	font-size: 15px;
}

#login .info span.vimg {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 45%;
	background: #fff;
	overflow: hidden;
}

#login .info span.vimg img {
	cursor: pointer;
	width: 100%;
	height: 100%;
}

#login .sub {
	margin: 0 30px;
	margin-top: 15px;
	border-radius: 5px;
}

#login .sub input {
	height: 40px;
	line-height: 40px;
	background: #65B1E2;
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0;
	font-size: 16px;
	color: #f8f8f8;
	border-radius: 5px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

#login .sub input:hover {
	background: #0F4B8A;
	color: #f4f4f4;
}

#login .sub input:active {
	position: relative;
	top: -1px;
}

#login  .copy {
	text-align: center;
	color: #3575B1;
	margin-top: 20px;
}

#login  .copy a {
	color: #3575B1;
}

.auth {
	width: 200px;
	height: 80px;
	background: #66AFE2;
	padding-top: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	margin: 0 0 0 -300px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 9999;
	-webkit-transform: rotate(-270deg);
	transform: rotate(-270deg);
}

.auth .loading {
	width: 1px;
	height: 1px;
	margin: 0 auto;
}

.auth  p {
	text-align: center;
	margin-top: 40px;
	color: #fff;
	font-size: 11px;
}

.auth.checking {
	margin-left: 20px;
	opacity: 0.9;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

#login.checking {
	pointer-events: none;
	-webkit-transform: rotateX(60deg) scale(0.9) !important;
	transform: rotateX(60deg) scale(0.9) !important;
	opacity: .9 !important;
	margin-top: -280px;
}

.dg.ac {
	display: none;
}

.randomize {
	display: none;
}