package ${p.packageName}.controller;

import java.text.DecimalFormat;
import java.util.Date;
import java.util.List;
import java.util.Map;

import javax.annotation.Resource;
import javax.servlet.http.HttpServletResponse;

import org.apache.commons.lang3.StringUtils;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.web.multipart.MultipartFile;
import org.springframework.web.multipart.MultipartHttpServletRequest;

import com.github.pagehelper.PageInfo;
import com.google.common.collect.Lists;
import com.krm.common.base.BaseController;
import com.krm.common.base.CommonEntity;
import com.krm.common.base.Result;
import com.krm.common.constant.Constant;
import com.krm.common.utils.DateUtils;
import com.krm.common.utils.StringConvert;
import com.krm.common.utils.StringUtil;
import com.krm.common.utils.excel.ExportExcel;
import com.krm.common.utils.excel.ImportExcel;
import ${p.packageName}.model.${p.entityNameU};
import ${p.packageName}.service.${p.entityNameU}Service;
import com.krm.web.util.SysUserUtils;

/**
 * 
 * \@author ${p.author}
 * ${t.remarks}控制层
 * ${p.date}
 */
\@Controller
\@RequestMapping("${t.moduleName}/${p.entityName}")
public class ${p.entityNameU}Controller extends BaseController {
	
	public static final String BASE_URL = "${t.moduleName}/${p.entityName}";
	private static final String BASE_PATH = "${t.moduleName}/${p.entityName}/";
	
	\@Resource
	private ${p.entityNameU}Service ${p.entityName}Service;
	
	\@Override
	protected String getBaseUrl() {
		return BASE_URL;
	}

	\@Override
	protected String getBasePath() {
		return BASE_PATH;
	}

	\@Override
	protected String getBasePermission() {
		return "${t.moduleName}:${p.entityName}";
	}
	
	/**
	 * 跳转到模块页面
	 * \@param model
	 * \@return 模块html
	 */
	\@RequestMapping
	public String to${p.entityNameU}(Model model){
		logger.info("跳转到${t.remarks}页面(" + getBasePath() + "${p.entityName}-list)");
		checkPermission("query");
		return getBasePath() + "${p.entityName}-list";
	}
	
	/**
	 * 分页显示
	 * \@param params
	 * \@return
	 */
	\@RequestMapping(value="list", method = RequestMethod.POST)
	\@ResponseBody
	public PageInfo<CommonEntity> list(\@RequestParam Map<String, Object> params, Model model){
		logger.info("分页显示${t.remarks}，参数：" + params.toString());
        checkPermission("query");
@var userAlia, organAlia;
@if(t.userIdFieldBind != null){
    @userAlia = 'u';
@}
@if(t.organCodeFieldBind! != null){
    @organAlia = 'o';
@}
        //权限语句
		params.put("dynamicSQL", SysUserUtils.dataScopeFilterString1("${organAlia}", "${userAlia}", getBaseUrl(), "id"));
		if (params.containsKey("sortC")){
			//如果传过来的参数是驼峰式，这里需要将驼峰转成下划线式
			params.put("sortC", StringConvert.camelhumpToUnderline(params.get("sortC").toString()));
		}
		PageInfo<CommonEntity> page = ${p.entityName}Service.queryPageInfo(params);
		return page;
	}
	
	/**
	 * 添加或更新
	 * \@param params
	 * \@return
	 */
	\@RequestMapping(value="save", method = RequestMethod.POST)
	\@ResponseBody
	public Result save(\@ModelAttribute ${p.entityNameU} entry, MultipartHttpServletRequest request){
		logger.info("开始保存${t.remarks}");
		int count = 0;
		if(StringUtil.isEmpty(entry.getId())){
			checkPermission("add");
       		entry.setId(${p.entityName}Service.generateId());
       		count = ${p.entityName}Service.save(entry);
		}else{
			checkPermission("update");
       		count = ${p.entityName}Service.update(entry);
		}
		if(count > 0){
			logger.info("保存${t.remarks}成功！");
			return Result.successResult();
		}
		return Result.errorResult();
	}
	
	/**
	 * 删除
	 * \@param 
	 * \@return
	 */
	\@RequestMapping(value="delete", method = RequestMethod.POST)
	\@ResponseBody
	public Result del(String id, \@RequestParam Map<String, Object> params){
		logger.info("开始删除${t.remarks}，参数：" + id);
		checkPermission("delete");
		int count = ${p.entityName}Service.delete${p.entityNameU}(id);
		if(count > 0){
			logger.info("删除${t.remarks}成功！");
			return Result.successResult();
		}
		logger.info("删除${t.remarks}失败！");
		return Result.errorResult();
	}
	
	/**
	 * 批量删除
	 * \@param
	 * \@return
	 */
	\@RequestMapping(value="deletes", method = RequestMethod.POST)
	\@ResponseBody
	public Result dels(\@RequestParam(value = "ids[]") String[] ids, \@RequestParam Map<String, Object> params){
		logger.info("开始批量删除${t.remarks}，参数：" + ids);
		checkPermission("delete");
		int count = ${p.entityName}Service.delete${p.entityNameU}(ids);
		if(count > 0){
			logger.info("删除${t.remarks}成功！");
			return Result.successResult();
		}
		logger.info("删除${t.remarks}失败！");
		return Result.errorResult();
	}
	
	/**
	 * 弹窗显示
	 * \@param params {"mode":"1.add 2.edit 3.detail}
	 * \@return
	 */
	\@RequestMapping(value="{mode}/showlayer", method=RequestMethod.POST)
	public String layer(String id, \@RequestParam Map<String, Object> params, \@PathVariable String mode, Model model){
		${p.entityNameU} entry = null;
		if(StringUtils.equals("add", mode)){
			logger.info("弹窗显示【${t.remarks}】添加页面(" + getBasePath() + "${p.entityName}-add)");
			checkPermission("add");
			return getBasePath() + "${p.entityName}-add";
		}else if(StringUtils.equals("edit", mode)){
			logger.info("弹窗显示【${t.remarks}】编辑页面(" + getBasePath() + "${p.entityName}-update)");
			checkPermission("update");
			params.put("id", id);
			entry = ${p.entityName}Service.queryOne(params);
			model.addAttribute("entry", entry);
			return getBasePath() + "${p.entityName}-update";
		}else if(StringUtils.equals("detail", mode)){
			logger.info("弹窗显示【${t.remarks}】详情页面(" + getBasePath() + "${p.entityName}-detail)");
			checkPermission("query");
			params.put("id", id);
			CommonEntity entity = ${p.entityName}Service.queryOneCommon(params);
			model.addAttribute("entry", entity);
		}else if(StringUtils.equals("import", mode)){
			logger.info("弹窗显示【${t.remarks}】Excel导入页面(" + getBasePath() + "${p.entityName}-import)");
			checkPermission("import");
			return getBasePath() + "${p.entityName}-import";
		}
		return getBasePath() + "${p.entityName}-detail";
	}
	
	/**
     * ${t.remarks}Excel导入模板
     * \@param response
     * \@param redirectAttributes
     * \@return
     * \@throws Exception 
     */
    \@RequestMapping("import/template/download")
    public void import${p.entityNameU}Template(HttpServletResponse response) throws Exception {
    	logger.info("开始下载${t.remarks}Excel导入模板");
    	checkPermission("import");
		String fileName = "${t.remarks}Excel导入模板.xlsx";
		List<${p.entityNameU}> list = Lists.newArrayList();
		list.add(new ${p.entityNameU}());
		new ExportExcel("${t.remarks}", ${p.entityNameU}.class, 2).setDataList(list).write(response, fileName).dispose();
    }
    
    /**
     * ${t.remarks}数据导入
     * \@param request
     * \@param response
     * \@return
     */
    \@RequestMapping(value = "import", method=RequestMethod.POST)
    \@ResponseBody
    public Result importFile(\@RequestParam("file") MultipartFile fileList[], HttpServletResponse response) throws Exception {
    	logger.info("开始导入${t.remarks}数据");
    	checkPermission("import");
    	Long start = System.currentTimeMillis();
    	int successNum = 0;
    	int failureNum = 0;
    	for (MultipartFile file : fileList) {
    		ImportExcel ei;
    		StringBuilder failureMsg = new StringBuilder();
   			ei = new ImportExcel(file, 1, 0);
   			List<${p.entityNameU}> list = ei.getDataList(${p.entityNameU}.class);
   			for (${p.entityNameU} entry : list) {
   				entry.setId(${p.entityName}Service.generateId());
   				entry.setCreateBy(SysUserUtils.getCacheLoginUser().getId());
   				entry.setCreateDate(new Date());
   				entry.setDelFlag(Constant.DEL_FLAG_NORMAL);
			}
   			successNum = ${p.entityName}Service.insertBatch(list);
    		if (failureNum > 0){
    			failureMsg.insert(0, "，失败导入 " + failureNum + " 条${t.remarks}数据，导入信息如下：");
    		}
    		Long end = System.currentTimeMillis();
    		DecimalFormat df = new DecimalFormat("######0.00");
    		logger.info("导入用时"+df.format((double)(end-start)/(double)1000)+"秒");
		}
    	return new Result(1, "操作成功！，成功导入"+successNum+"条，失败导入"+failureNum+"条");
    }
    
    /**
	 * ${t.remarks}导出excel
	 */
	\@RequestMapping(value="export", method = RequestMethod.POST)
	public void export(\@RequestParam Map<String, Object> params, HttpServletResponse response) throws Exception{
		logger.info("开始导出${t.remarks}数据");
		checkPermission("export");
		String fileName = "${t.remarks}" + DateUtils.getDate("yyyyMMddHHmmss") + ".xlsx";
		//权限语句
		params.put("dynamicSQL", SysUserUtils.dataScopeFilterString1("${organAlia}", "${userAlia}", getBaseUrl(), "id"));
		try {
			for (String key : params.keySet()){ // 处理中文乱码
				String paramsTrans = new String(((String) params.get(key)).getBytes("ISO-8859-1"), "UTF-8");
				paramsTrans = java.net.URLDecoder.decode(paramsTrans, "UTF-8");
				params.put(key, paramsTrans.trim());
			}
		} catch (Exception e) {
		}
		List<${p.entityNameU}> list = ${p.entityName}Service.entityList(params);
		new ExportExcel("${t.remarks}", ${p.entityNameU}.class).setDataList(list)
			.write(response, fileName).dispose();
	}
}
