@var selectOptions;
<style>
.profile-info-name{
    text-align: left;
}
.fileName{
	margin-left: 4px;
}
</style>
<div class="layer">
        <div id="" class="tab-pane active clearfix">
        <div class="alert-success"><font style="color:red">提示信息：红色星号为必填选项</font></div>
		<form remarks="FormPost" id="table-form" class="FormGrid" method="post" enctype="multipart/form-data" action="">
            <table class="EditTable" width="100%">
           		<tbody>
					<tr class="FormData">
    					<td class="CaptionTD">附件:</td>
						<td class="DataTD width-100">
							<input class="hidden" id="ieFile" type="file" name="file" required>
							<input id="hiddenFile" type="file" name="file" required style="display: none">
							<div class="input-append hidden" id="nonIeFile" style="position: relative; width: 80%;">
								<input id="file-input" type="text" style="display: inline-block;">
								<a class="btn btn-primary btn-sm" id="input-append" onclick="$('#hiddenFile').click();" style="display: inline-block; position: absolute;"><i class="fa fa-folder-open-o"></i>&nbsp;上传附件</a>
							</div>
						</td>
					</tr>
                	<tr class="FormData">
                		<td class="CaptionTD"></td>
                		<td class="CaptionTD">
		                	<button type="button" style="margin-top: 20px;margin-right: 12%;" class="btn btn-primary btn-sm" id="downlod_${t.tableName}"><i class="ace-icon fa fa-cloud-download middle-120"></i>下载模板</button>
                		</td>
                	</tr>
          		</tbody>
      	</table>
       </form>
      </div>
  </div>
  

<script type="text/javascript">
$(function(){
	if(window.browser.name == 'IE'){
		$("#ieFile").toggleClass('hidden');
		$("#nonIeFile").remove();
		$("#hiddenFile").remove();
	}else{
		$("#nonIeFile").toggleClass('hidden');
		$("#ieFile").remove();
	}
	$('#hiddenFile').change(function() {
		$('#file-input').val($(this).val());
	});
	
	$("#downlod_${t.tableName}").click(function(){
		var url = "\${ctxPath}/${t.moduleName}/${p.entityName}/import/template/download";
		 	$('<form method="get" action="' + url + '"></form>').appendTo('body').submit().remove();
	})
	
	//表单校验
	$("#table-form").validate({
		messages:{
			file : {required: "请先上传文件（Excel格式）"},
		},
		submitHandler: function(form){
			var indexLoad = loading("系统正在提交数据，请稍后......");
			$("#table-form").ajaxSubmit({
            	type:'post',
            	url:'\${ctxPath}/${t.moduleName}/${p.entityName}/import',
            	success:function(data){
            		layer.close(indexLoad);
                    if(data.code == 1) {
                    	successMsg(data.msg, function() {
                   			layer.closeAll();
                            query();
                   		}); 
                    }else{
                    	failMsg(data.msg);
                    }
                }
            });     
		},
		errorPlacement: function(error, element) {
			if(element.attr("id") == "hiddenFile"){
				element = $("#input-append");
			}
			tip.errorTip(error.html(),element);
		}
	});
});
</script>