<div class="layer">
	<div class="profile-user-info profile-user-info-striped wordbreak" >
		<div class="profile-info-row">
			<div class="profile-info-name">﻿所属项目：</div>
				<div class="profile-info-value" id="proId">
					<span class="editable editable-click">
						${entry.proIdText!}
					</span>
			</div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">﻿成员名称：</div>
				<div class="profile-info-value" id="memberId">
					<span class="editable editable-click">
						${entry.memberIdText!}
					</span>
			</div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">﻿小组角色：</div>
				<div class="profile-info-value" id="post">
					<span class="editable editable-click">
						${entry.postText!}
					</span>
			</div>
		</div>
 		<div class="profile-info-row">
			<div class="profile-info-name">﻿分工：</div>
			<div class="profile-info-value" id="division">
				<span class="editable editable-click">
					${entry.division!}
				</span>
			</div>
		</div>
	</div>
</div>
