<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
	    http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="false">


	<!-- 注册sqlmanager-->
	<bean id="sqlManager" class="org.beetl.sql.ext.spring4.SqlManagerFactoryBean">
		<property name="sqlLoader">
			<bean class="org.beetl.sql.core.ClasspathLoader">
				<property name="sqlRoot" value="/sqls"></property>
			</bean>
		</property>
		<property name="nc">
			<bean class="org.beetl.sql.core.UnderlinedNameConversion" />
		</property>
		<property name="cs">
			<bean class="org.beetl.sql.ext.spring4.BeetlSqlDataSource">
				<property name="masterSource" ref="dataSource"></property>
			</bean>
		</property>
		<property name="dbStyle">
			<bean class="${beetleSQL.dbStyle}"></bean>
		</property>
		<property name="interceptors">
			<list>
				 <bean class="org.beetl.sql.ext.DebugInterceptor"></bean>
			</list>
		</property>
		<property name="configLocation" value="classpath:/beetl/beetlsql.properties"></property>
	</bean>
	
</beans>