@var selectOptions;
<div class="layer">
  <div class="profile-user-info profile-user-info-striped wordbreak" >
    <div class="profile-info-row">
      <div class="profile-info-name">﻿编号：</div>
      <div class="profile-info-value" id="id">
        <span class="editable editable-click">
			${entry.id!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿数据源名称：</div>
      <div class="profile-info-value" id="sName">
        <span class="editable editable-click">
			${entry.sName!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿数据源类型：</div>
      <div class="profile-info-value" id="sType">
	   <span class="editable editable-click">${entry.sTypeText!}</span>
      </div>
		</div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿源描述：</div>
      <div class="profile-info-value" id="sDesc">
        <span class="editable editable-click">
			${entry.sDesc!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿地址：</div>
      <div class="profile-info-value" id="sLocal">
        <span class="editable editable-click">
			${entry.sLocal!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿连接：</div>
      <div class="profile-info-value" id="sUrl">
        <span class="editable editable-click">
			${entry.sUrl!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿连接用户：</div>
      <div class="profile-info-value" id="sConn">
        <span class="editable editable-click">
			${entry.sConn!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿连接密码：</div>
      <div class="profile-info-value" id="sPass">
        <span class="editable editable-click">
			${entry.sPass!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿协议：</div>
      <div class="profile-info-value" id="sProtocol">
        <span class="editable editable-click">
			${entry.sProtocol!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿创建人：</div>
      <div class="profile-info-value" id="createBy">
        <span class="editable editable-click">
			${entry.createBy!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿创建时间：</div>
      <div class="profile-info-value" id="createDate">
        <span class="editable editable-click">
			${entry.createDate!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿最近修改人：</div>
      <div class="profile-info-value" id="updateBy">
        <span class="editable editable-click">
			${entry.updateBy!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿最近修改时间：</div>
      <div class="profile-info-value" id="updateDate">
        <span class="editable editable-click">
			${entry.updateDate!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿逻辑删除标记(0.正常，1.删除)：</div>
      <div class="profile-info-value" id="delFlag">
        <span class="editable editable-click">
			${entry.delFlag!}
        </span>
      </div>
    </div>
	</div>
</div>
<script>
	$(function(){
	})
</script>