.fz12 {
    font-size: 1.2em;
}
.fz14 {
    font-size: 1.4em;
}
.bg-h {
    color: #b8dcf3;
}
.wrapper .containers {
    padding: 30px 10px 100px;
    height: 100%;
    border: 1px solid #eeeff8;
    border-radius: 4px;
    position: relative;
    overflow-y: auto;
}
.wrapper .containers:after {
    background-color: #F5F5F5;
    border: 1px solid #eeeff8;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "表单容器";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.containers .table:before {
    background-color: #F5F5F5;
    border-top: 0px;
    border-left: 0px;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 0 0 4px 0;
    color: #9DA0A4;
    content: "表格";
    font-size: 12px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
}
.containers .move:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-top: 0px;
    border-radius: 0 0 4px 4px;
    color: #9DA0A4;
    content: "移动";
    font-size: 12px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
}
.containers img {
    border: 1px solid #dddddd;
    width: 50px;
    height: 50px;
}
.fd-view-drag-in {
    min-height: 30px;
}
td.fd-view-drag-in {
    height: 35px;
}
.fd-view-selected {
    border: 2px solid #3B97E3 !important;
    /* -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2) */
}
.fd-view-hover {
    outline: 1px dotted #666;
}
.fd-view-bordered {
    border: 1px solid #e3e6f3;
}
nav li a {
    color: black !important;
    background-color: #eee;
}
.row {
    margin: 0px;
    overflow-y: hidden;
}
[fd-view] {
    margin-top: 5px;
}

.headerbox {
    background-color: #2d3c4b;
    min-height: 50px;
    border-bottom: 1px solid #999;
}
.asidePanel {
    height: 100%;
    position: relative;
    background-color: #2d3c4b;
    float: right;
}
.asidePanel .panel {
    margin-bottom: 0;
    background-color: #2d3c4b;
    height: 100%;
}
.asidePanel .panel-body {
    padding: 5px;
    border: 1px solid #42485b;
    background-color: #2d3c4b;
}
.navbar-btn {
    margin: 0;
    line-height: 28px !important;
}
@media (min-width: 1200px) {
    .tool-menu {
        width: 210px;
        float: left;
    }
}
.tool-menu {
    position: relative;
    margin-top: 20px;
    background-color: #2d3c4b;
    padding: 0;
}
section .wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2d3c4b;
}
.tool-menu .panel-heading {
    text-align: left;
    padding-left: 30px;
}
.tool-menu .panel-body {
    text-align: center;
    background-color: #1f2b34;
}
.tool-menu .panel {
    border: 0;
    background-color: #2d3c4b;
    margin: 0;
}
.tool-menu .panel ul {
    margin: 0;
    padding: 5px;
}
.tool-menu .panel-group {
    margin: 0;
}

.tool-menu .list-group-item {
    display: inline-block;
    width: 56px;
    padding: 5px;
    text-align: center;
}

.panel-group .panel.bg-d {
    margin-top: 0;
}

.bg-d a,
.bg-d .panel-heading {
    color: white;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

.panel-heading {
    color: #fff;
    border: none;
    background-color: transparent;
    transition: background-color .4s ease;
}

.panel-heading h5,
#form-title-value {
    color: #59595a;
    font-weight: bold;
}

.panel-body a {
    background-color: transparent;
}

.panel-body .panel-heading:hover,
.list-group-item:hover {
    background-color: #00C1DE !important;
    border-radius: 0;
    transition: background-color .4s ease;
}

.list-group-item {
    border: none;
    border-radius: 0 !important;
}

.bg-d .panel-body li {
    background-color: transparent;
}

.panel-body {
    border: none;
    padding: 0;
    margin: 0;
}

.wrapper .panel-body {
    height: 100%;
}
.tab-pane label,
.tab-pane a {
    color: white;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: none !important;
    border-bottom: 1px solid white !important;
}

.nav-tabs.nav>li>a {
    padding: 10px 0;
}

.nav-tabs>li>a {
    border: none;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid transparent;
    }
}

.fd-view-drag span {
    display: block;
    color: white;
    font-size: 12px;
    margin-top: 8px;
    white-space: nowrap;
}

#control-btn {
    float: left;
    margin-left: 15px;
    color: white;
    font-size: 2.6em;
    cursor: pointer;
}

#content-box {
    padding: 10px;
    height: 100%;
}

.table th {
    background-color: #555555;
    color: white;
    border: 1px solid #ddd;
}

.table>tbody>tr>td {
    border: 1px solid #ddd;
}

.table>tbody>tr:nth-of-type(odd) {
    background-color: #f8f8f8;
}

#accordionControl {
    position: relative;
}

.charts {
    border: 2px solid transparent;
}

.tag {
    border: 1px dotted #ccc;
}


/*charts图表编辑*/

#pro_content3 .form-group label {
    min-width: 66px;
    color: white;
    font-weight: normal;
}

#pro_content3 .form-group input,
#pro_content3 .form-group select {
    width: 60%;
    color: white;
    background-color: #1f2b34;
    border: none;
    outline: none;
    padding: 3px;
}

@media (min-width: 1366px) {
    #pro_content3 .form-group input,
    #pro_content3 .form-group select {
        width: 100%;
    }
}

@media (min-width: 1920px) {
    #pro_content3 .form-group input,
    #pro_content3 .form-group select {
        width: 60%;
    }
}

#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999999999;
}

#mask header {
    height: 40px;
    line-height: 40px;
}

#mask button {
    float: right;
    display: block;
    margin: 20px 20px 0 0;
}
