@var selectOptions;
<div class="layer">
  <div style="background-color: #fff;border: 1px dashed #e0e0e0;padding: 5px;"><font style="color:red">提示信息：红色文字为必填选项</font></div>
  <form class="FormGrid" id="table-form"  method="post" enctype="multipart/form-data" action="">
    <div class="form-horizontal" role="form" style="margin-top:20px;">
      <div class="container-fluid">
        <div class="row" id="form-row">
            <!-- <div class="col-xs-4">
          <div class="form-group">
              <label class="col-sm-4 control-label red">模板编号：</label>
              <div class="col-sm-8">
                <input id="modelCode" name="modelCode" type="text" value="${entry.modelCode!}" maxlength="32" required/>
              </div>
            </div>
          </div> -->
          <div class="col-xs-4">
            <div class="form-group">
              <label class="col-sm-4 control-label ">模板名称：</label>
              <div class="col-sm-8">
                <input id="modelName" name="modelName" type="text" value="${entry.modelName!}" maxlength="100" />
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label class="col-sm-4 control-label ">数据范围：</label>
              <div class="col-sm-8">
                <input id="dtRange" name="dtRange" type="text" value="${entry.dtRange!}" maxlength="100" />
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label class="col-sm-4 control-label ">描述：</label>
              <div class="col-sm-8">
                <input id="description" name="description" type="text" value="${entry.description!}" maxlength="512" />
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label class="col-sm-4 control-label ">版本：</label>
              <div class="col-sm-8">
                <input id="modelVersion" name="modelVersion" type="text" value="${entry.modelVersion!}" maxlength="512" />
              </div>
            </div>
          </div>
     <!--      <div class="col-xs-4">
            <div class="form-group">
              <label class="col-sm-4 control-label ">创建时间：</label>
              <div class="col-sm-8">
                <input id="createDate" name="createDate" type="text" value="${entry.createDate!}" />
              </div>
            </div>
          </div> -->
         <!--  <div class="col-xs-4">
            <div class="form-group">
              <label class="col-sm-4 control-label ">创建人：</label>
              <div class="col-sm-8">
                <input id="createBy" name="createBy" type="text" value="${entry.createBy!}" maxlength="32" />
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <table class="EditTable" width="100%">
      <tbody>
        <tr class="FormData">
          <td class="CaptionTD">是否上传附件:</td>
          <td class="DataTD width-100">
            <div class="switch" id="mySwitch">
              <input type="checkbox" data-size="mini" data-on-text="是" data-off-text="否" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
  
<script type="text/javascript">
	//初始化所有的下拉框，带搜索
	$(".chosen_select").chosen({width: "100%", search_contains: true, disable_search_threshold: 10});
	//描述框自动扩张高度
	$('textarea[class*=autosize]').autosize({append: "\n"});
	
	$(function(){
		var layerIndex = layer.index;	//当前层参数
		$('#mySwitch input').bootstrapSwitch('state',false);
		//金额格式化
	    $(".money").blur(function(){
	    	var money=$(this).val();
	    	var temp_money=accounting.toFixed(money,2);
	    	$(this).val($.trim(temp_money));
	    })
		//表单校验
		$("#table-form").validate({
			messages:{
				modelCode : {required: "请输入模板编号！"},
			},
			submitHandler: function(form){
				var indexLoad = loading("系统正在提交数据，请稍后......");
				$("#table-form").ajaxSubmit({
	            	type:'post',
	            	url:'${ctxPath}/data/demoDataImpModel/save',
	            	success:function(data){
	            		layer.close(indexLoad);
	                    if(data.code == 1) {
	                    	successMsg(data.msg, function() {
	                    		layer.close(layerIndex);	//关闭层
	                            query();	//刷新列表数据
								if($('#mySwitch input').bootstrapSwitch('state')){	//打开附件上传页面
									$.cuslayer({
										mode: "page",
										url: "${ctxPath}/file/upload/showlayer",
										formId: 'file-form',
										data: {
											relateId: data.data
										},
										title: '上传附件'
									});
								}
	                   		}); 
	                    }else{
	                    	failMsg(data.msg);
	                    }
	                }
	            });     
			},
			errorPlacement: function(error, element) {
				tip.errorTip(error.html(),element);
			}
		});
	});
</script>