@var selectOptions;
<div class="layer">
  <div class="profile-user-info profile-user-info-striped wordbreak" >
    <div class="profile-info-row">
      <div class="profile-info-name">﻿所属项目：</div>
      <div class="profile-info-value" id="proId">
	   <span class="editable editable-click">${entry.proIdText!}</span>
      </div>
		</div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿标签：</div>
      <div class="profile-info-value" id="label">
        <span class="editable editable-click">
			${entry.label!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿值：</div>
      <div class="profile-info-value" id="value">
        <span class="editable editable-click">
			${entry.value!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿类型：</div>
      <div class="profile-info-value" id="type">
        <span class="editable editable-click">
			${entry.type!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿描述：</div>
      <div class="profile-info-value" id="description">
        <span class="editable editable-click">
			${entry.description!}
        </span>
      </div>
    </div>
    <div class="profile-info-row">
      <div class="profile-info-name">﻿排序：</div>
      <div class="profile-info-value" id="sort">
        <span class="editable editable-click">
			${entry.sort!}
        </span>
      </div>
    </div>
	</div>
</div>
<script>
	$(function(){
	})
</script>